.footer-div {
  display: flex;
  background: #2ac8ff;
  justify-content: space-around;
}

.profile-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
}

.icon-div{
  display: flex;
  font-size: 20px;
  width: 100px;
  color: white;
}

.link-text {
  margin-left: 10px;
}

.name-tag {
  font-size: 22px;
  color: white;
}
