.smmry-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  width: 400px;
  margin-left: 20px;
}

.phone-image {
  height: 288px;
  width: 341px;
}

.text-div{
  color: #253f3f;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 15px 15px 20px 25px;
  width: 300px;
  font-weight: bolder;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.line {
  margin-bottom: 8px;
}

.image-background {
}

.text-div-container {
  display: flex;
  justify-content: center;
}

.smmry-div-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(42, 200, 255, 0.21);
  align-items: center;
}

.smmry-title-text{
  margin-bottom: 30px;
  font-size: 30px;
}
