.smmry-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 400px;
}

.phone-image {
  height: 288px;
  width: 341px;
}

.text-div{
  color: #253f3f;
  font-size: 20px;
}

.line {
  margin-bottom: 8px;
}
