<!DOCTYPE html>
<html>
  <head>
    <title>TldrDemo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://use.fontawesome.com/b93e82b9d7.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
